body{
  background-color: purple;
}

.header{
  background-color: red;
  color: white;
  text-align: center;
}
.Guess{
  margin-top:100px;
  margin-left:580px;
  width: 300px;
  background-color: green;
  color: white;
  text-align: center;
  display: inline-block
}
.stats{
  margin-top:100px;
  background-color: blue;
  color: white;
  text-align: center;
}
