body{
}

.header{
  text-align: center;
}
.Guess{
  margin-top:100px;
  margin-left:580px;
  width: 300px;
  text-align: center;
  display: inline-block
}
.stats{
  margin-top:100px;
  text-align: center;
}
 button{
   border-radius: 100%;
 }